/*body{*/
/*margin: 0;*/
/*background-color: aqua;*/
/*}*/

@font-face {
    font-family: "Arsenal";
    src: url("../fonts/ArsenalRegular/ArsenalRegular.eot");
    src: url("../fonts/ArsenalRegular/ArsenalRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArsenalRegular/ArsenalRegular.woff") format("woff"),
    url("../fonts/ArsenalRegular/ArsenalRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: "Arsenal";
    margin: 0;
    text-align: center;
}

ul{
    margin-top: 5%;

    position: fixed;

    min-width:125px;
    /*width: 20%;*/
    width: 20%;
    height:30%;
    /*height:auto;*/
    background-color: #545454;
    /*margin: auto;*/

    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    /*align-items: center;*/
    justify-content: space-around;
    /*border: 1px solid white;*/
}

li{
    margin-left: 3%;
    width: 90%;
    border: 3px solid #E0E0E0;
}

a{
    text-decoration: none;
    color: #E0E0E0;
}
.p1{
    flex: 3;
    min-width:187px;
}
.p2{
    margin: auto;
    flex:7;
    display: block;
}




.container{
    position: relative;
    display: flex;
    background-color: #FBFBFB;
    flex-flow: row wrap;

    align-items: stretch;
    /*min-width:640px;*/
}
.container >*{
    flex: 1 50%;

    /*flex-direction: column;*/

}
.contentWrap{
    /*height: 100%;*/
    background-color: #FBFBFB;
    display: flex;
    flex-flow: row wrap;
}



.menu{
    height: 100%;
    /*flex:1;*/
    /*position: fixed;*/
    position: absolute;
    /*justify-content: center;*/
    left: 10%;
    width: 20%;
    min-width:125px;
    /*flex: auto;*/
    /*width: 30%;*/
    background-color: #545454;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*color: #E0E0E0;*/
}

article{
    /*width: 50%;*/
    flex: 2;
    background-color: #FBFBFB;
}
header{
    margin-top:10vh;
    height: 20vh;
    min-height:113px;
    -webkit-text-size-adjust: 350%;
    -moz-text-size-adjust: 350%;
    -ms-text-size-adjust: 350%;
    /*max-height:;*/
    background-color: #F0EFEB;
    display: flex;
    flex-flow: row wrap;
    /*     min-width:640px; */
}
.me{
    margin: auto;
    margin-top: 10vh;
    
    border-radius: 50%;
    height: 117px;

    width:117px;

    background: url('../image/1.jpg') no-repeat center/contain;
}


@media only screen
    /* and ( min-height:700px)  */
and (min-device-width: 320px)
and (max-device-width: 480px)
{
    .menu, ul{
        position: static;
        height: auto;
        width:auto;
    }
    ul{
        height: 50%;
        flex-flow: row wrap;
    }
    li{
        margin: auto;
        width: auto;
        padding: 10px;
    }
    a{
        -webkit-text-size-adjust: 350%;
        -moz-text-size-adjust: 350%;
        -ms-text-size-adjust: 350%;
    }
    header{
        margin-top: 2vh;
        height: 9vh;
    }
    .container{
        flex-flow: column wrap;
    }
    .p1{
        display:none;
    }
    .me{
        margin-top:5%;
        width: 234px;
        height: 234px;
    }
}